flow.json
[{"id":"d9200449.15e9a8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"92e780cd.997f3","type":"CassandraDatabase","z":"","hosts":"localhost","port":"9042","keyspace":"sample_demo"},{"id":"520ecddc.1faf34","type":"http in","z":"d9200449.15e9a8","name":"","url":"/signup5","method":"get","upload":false,"swaggerDoc":"","x":137.00001525878906,"y":99.99999904632568,"wires":[["9ce43129.f2d88"]]},{"id":"40b18501.709f5c","type":"http response","z":"d9200449.15e9a8","name":"","statusCode":"","headers":{},"x":421.000039100647,"y":100.0000057220459,"wires":[]},{"id":"b927a357.789de","type":"http in","z":"d9200449.15e9a8","name":"","url":"/signup5","method":"post","upload":false,"swaggerDoc":"","x":127.85717391967773,"y":146.5714454650879,"wires":[["a41f173d.3752a8","8337218a.275b2"]]},{"id":"93d1c8d4.fb52f8","type":"debug","z":"d9200449.15e9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540.8572540283203,"y":199.57146644592285,"wires":[]},{"id":"15b0807f.784cc","type":"function","z":"d9200449.15e9a8","name":"Redirect to /login2","func":"msg.res.redirect(\"/login2\");\n","outputs":"0","noerr":0,"x":709.1428070068359,"y":146.0000238418579,"wires":[]},{"id":"d15310ae.92e35","type":"http in","z":"d9200449.15e9a8","name":"","url":"/login2","method":"get","upload":false,"swaggerDoc":"","x":141.2857894897461,"y":336.5714998245239,"wires":[["e5949043.09311"]]},{"id":"e5949043.09311","type":"template","z":"d9200449.15e9a8","name":"login-page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <meta name=\"description\" content=\"\">\n    <meta name=\"author\" content=\"\">\n    <link rel=\"icon\" href=\"https://i.imgur.com/NNMscNj.jpg\">\n\n    <title>MEGACHAT</title>\n\n    <!-- Bootstrap core CSS -->\n    <link href=\"https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n\n    <!-- Custom styles for this template -->\n    <link href=\"https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css\" rel=\"stylesheet\">\n  <script type=\"text/javascript\"></script><link rel=\"stylesheet\" type=\"text/css\" href=\"https://getbootstrap.com/B1D671CF-E532-4481-99AA-19F420D90332/netdefender/hui/ndhui.css\" /></head>\n\n  <body class=\"text-center\"><script type=\"text/javascript\" language=\"javascript\" src=\"https://getbootstrap.com/B1D671CF-E532-4481-99AA-19F420D90332/netdefender/hui/ndhui.js?0=0&0=0&0=0\"></script>\n    <form class=\"form-signin\" action=\"/login2\" method=\"post\">\n      <img class=\"mb-4\" src=\"https://i.imgur.com/NNMscNj.jpg\" alt=\"\" width=\"125\" height=\"125\">\n      <h1 class=\"h3 mb-3 font-weight-normal\">Welcome to <b>MEGA</b>CHAT</h1>\n      <label for=\"username\" class=\"sr-only\">Username</label>\n      <input type=\"text\" id=\"username\" class=\"form-control\" name=\"username\" placeholder=\"Username\" required autofocus>\n      <input type=\"password\" id=\"password\" class=\"form-control\" name=\"password\" placeholder=\"Password\" required>\n      <div id=\"error\"></div>\n      \n      <div class=\"checkbox mb-3\">\n        <label>\n          <input type=\"checkbox\" value=\"remember-me\"> Remember me\n        </label>\n      </div>\n      <button class=\"btn btn-lg btn-primary btn-block\" type=\"submit\" background-color=\"red\">Login</button>\n      <p class=\"mt-5 mb-3 text-muted\">&copy; <script>document.write(new Date().getFullYear());</script> <b>MEGA</b>CHAT</p>\n    </form>\n  </body>\n  <style>\n.btn-block {background-color: #ba0722;} /* Red */ \n</style>\n</html>","output":"str","x":307.00013732910156,"y":335.71435546875,"wires":[["5cbb5cd1.9cd164"]]},{"id":"5cbb5cd1.9cd164","type":"http response","z":"d9200449.15e9a8","name":"","statusCode":"","headers":{},"x":453.57162284851074,"y":336.1428966522217,"wires":[]},{"id":"7bd2db86.7ec444","type":"http in","z":"d9200449.15e9a8","name":"","url":"/login2","method":"post","upload":false,"swaggerDoc":"","x":134.00005340576172,"y":424.8572254180908,"wires":[["622a5399.b1174c","bce47124.7e2a8","46348352.9c509c"]]},{"id":"fffabdb1.2657d","type":"cassandra","z":"d9200449.15e9a8","mydb":"92e780cd.997f3","name":"demo","x":602.5715560913086,"y":426.7144241333008,"wires":[["c9d0fdba.b1912","bc98612d.3835b"]]},{"id":"da2696bc.433ea8","type":"cassandra","z":"d9200449.15e9a8","mydb":"92e780cd.997f3","name":"demo","x":545.5715675354004,"y":144.57147884368896,"wires":[["15b0807f.784cc"]]},{"id":"b945934f.807ed","type":"function","z":"d9200449.15e9a8","name":"","func":"var ime = msg.payload['username'];\nvar lozinka = msg.payload['password'];\n\nvar insertString = 'insert into \"sample_demo\".\"chat\" ' + '( username, password )' + 'values (' + ' \\'' + ime + '\\'  ' + ', ' + ' \\'' + lozinka + '\\' ' + ');';\nmsg.topic = insertString;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":416.85728454589844,"y":145.57145309448242,"wires":[["93d1c8d4.fb52f8","da2696bc.433ea8"]]},{"id":"8337218a.275b2","type":"json","z":"d9200449.15e9a8","name":"","property":"payload=data","action":"","pretty":false,"x":286.02384185791016,"y":146.23812675476074,"wires":[["3cbe3437.ef643c","b945934f.807ed"]]},{"id":"a41f173d.3752a8","type":"debug","z":"d9200449.15e9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":176.85719299316406,"y":200.5714569091797,"wires":[]},{"id":"3cbe3437.ef643c","type":"debug","z":"d9200449.15e9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":371.8572082519531,"y":198.5714626312256,"wires":[]},{"id":"1247d516.bb2cab","type":"function","z":"d9200449.15e9a8","name":"select query","func":"var ime = msg.payload['username'];\nvar lozinka = msg.payload['password'];\n\nvar select = 'select count (*) from \"sample_demo\".\"chat\" ' + 'where username=\\'' + ime + '\\'' + 'and password=\\'' + lozinka + '\\' ALLOW FILTERING;'\n\nmsg.topic = select;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":453.0257873535156,"y":426.41358852386475,"wires":[["fffabdb1.2657d","1b3ac3f8.65a64c"]]},{"id":"bce47124.7e2a8","type":"json","z":"d9200449.15e9a8","name":"","property":"payload=data","action":"","pretty":false,"x":302.1842803955078,"y":425.9822521209717,"wires":[["1247d516.bb2cab","82d090b8.baea6"]]},{"id":"622a5399.b1174c","type":"debug","z":"d9200449.15e9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":147.8828887939453,"y":485.14406871795654,"wires":[]},{"id":"82d090b8.baea6","type":"debug","z":"d9200449.15e9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":346.88289642333984,"y":487.1479549407959,"wires":[]},{"id":"1b3ac3f8.65a64c","type":"debug","z":"d9200449.15e9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":535.8907623291016,"y":486.14404106140137,"wires":[]},{"id":"fd7852d.6b5d9b","type":"function","z":"d9200449.15e9a8","name":"Redirect back to /login","func":"msg.res.redirect(\"/login2\");\n","outputs":"0","noerr":0,"x":911.8767547607422,"y":456.1468677520752,"wires":[]},{"id":"c9d0fdba.b1912","type":"function","z":"d9200449.15e9a8","name":"check","func":"var count = msg.payload[0]['count'];\n\nif (count > 0)\n{\n    // get from global memory\n    msg.payload = global.get(\"global\");\n    console.log(\"Login successful\");\n    node.log(\"super\");\n    return [msg, null];\n    \n}\nelse\n{\n    \n    console.log (\"Login failed\");\n    node.log(\"naah\");\n    return [null, msg];\n}\n\n","outputs":2,"noerr":0,"x":730.5971565246582,"y":426.8979778289795,"wires":[["78bfc4e4.72db5c","7858a8d4.890268"],["fd7852d.6b5d9b","525dd7a2.005568"]]},{"id":"f301066a.193a88","type":"comment","z":"d9200449.15e9a8","name":"login","info":"login redirecting to chat if count of username > 0,\nelse redirecting back to login","x":387.5235023498535,"y":285.8471279144287,"wires":[]},{"id":"fa4b0b81.3b8ef8","type":"comment","z":"d9200449.15e9a8","name":"signup","info":"Signup redirecting to login","x":385.01952743530273,"y":38.00390625,"wires":[]},{"id":"78bfc4e4.72db5c","type":"debug","z":"d9200449.15e9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":748.7121124267578,"y":349.04078674316406,"wires":[]},{"id":"525dd7a2.005568","type":"debug","z":"d9200449.15e9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":852.136754989624,"y":504.6083450317383,"wires":[]},{"id":"bc98612d.3835b","type":"debug","z":"d9200449.15e9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":662.0295677185059,"y":486.78686332702637,"wires":[]},{"id":"46348352.9c509c","type":"function","z":"d9200449.15e9a8","name":"global var","func":"global.set(\"global\",msg.payload['username']);\nglobal.set(\"global2\", msg.payload['password']);","outputs":1,"noerr":0,"x":315.8907241821289,"y":381.8778667449951,"wires":[["c56be47f.c98a98"]]},{"id":"c56be47f.c98a98","type":"debug","z":"d9200449.15e9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":468.74006271362305,"y":382.09654235839844,"wires":[]},{"id":"62234fc3.96af9","type":"function","z":"d9200449.15e9a8","name":"","func":"\nmsg.res.redirect(\"/general\");\n","outputs":1,"noerr":0,"x":858.2836399078369,"y":286.7908020019531,"wires":[["707b43ae.f6fc0c"]]},{"id":"707b43ae.f6fc0c","type":"debug","z":"d9200449.15e9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":980.4224557876587,"y":286.46544456481934,"wires":[]},{"id":"7858a8d4.890268","type":"change","z":"d9200449.15e9a8","name":"","rules":[{"t":"set","p":"payload","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":892.4185495376587,"y":387.4002113342285,"wires":[["62234fc3.96af9"]]},{"id":"9ce43129.f2d88","type":"template","z":"d9200449.15e9a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <meta name=\"description\" content=\"\">\n    <meta name=\"author\" content=\"\">\n    <link rel=\"icon\" href=\"https://i.imgur.com/NNMscNj.jpg\">\n\n    <title>MEGACHAT</title>\n\n    <!-- Bootstrap core CSS -->\n    <link href=\"https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n\n    <!-- Custom styles for this template -->\n    <link href=\"https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css\" rel=\"stylesheet\">\n  <script type=\"text/javascript\"></script><link rel=\"stylesheet\" type=\"text/css\" href=\"https://getbootstrap.com/B1D671CF-E532-4481-99AA-19F420D90332/netdefender/hui/ndhui.css\" /></head>\n\n  <body class=\"text-center\"><script type=\"text/javascript\" language=\"javascript\" src=\"https://getbootstrap.com/B1D671CF-E532-4481-99AA-19F420D90332/netdefender/hui/ndhui.js?0=0&0=0&0=0\"></script>\n    <form class=\"form-signin\" action=\"/signup5\" method=\"post\">\n      <img class=\"mb-4\" src=\"https://i.imgur.com/NNMscNj.jpg\" alt=\"\" width=\"125\" height=\"125\">\n      <h1 class=\"h3 mb-3 font-weight-normal\">Welcome to <b>MEGA</b>CHAT</h1>\n      <label for=\"username\" class=\"sr-only\">Username</label>\n      <input type=\"text\" id=\"username\" class=\"form-control\" name=\"username\" placeholder=\"Username\" required autofocus>\n      <input type=\"password\" id=\"password\" class=\"form-control\" name=\"password\" placeholder=\"Password\" required>\n    \n      <button class=\"btn btn-lg btn-primary btn-block\" type=\"submit\" background-color=\"red\">Sign up</button>\n      <p class=\"mt-5 mb-3 text-muted\">&copy; <script>document.write(new Date().getFullYear());</script> <b>MEGA</b>CHAT</p>\n    </form>\n  </body>\n  <style>\n.btn-block {background-color: #ba0722;} /* Red */ \n</style>\n</html>","output":"str","x":290.0195541381836,"y":100.50389575958252,"wires":[["40b18501.709f5c"]]},{"id":"46457f46.ace4","type":"http in","z":"d9200449.15e9a8","name":"","url":"/general","method":"post","upload":false,"swaggerDoc":"","x":130,"y":700,"wires":[["41daeefe.e0ba6"]]},{"id":"59570d08.930544","type":"http in","z":"d9200449.15e9a8","name":"","url":"/dialog","method":"get","upload":false,"swaggerDoc":"","x":128.88886833190918,"y":743.5871000289917,"wires":[["4f5fcd96.383724"]]},{"id":"fa8d11cb.444b1","type":"http response","z":"d9200449.15e9a8","name":"","x":542.8888816833496,"y":743.5871133804321,"wires":[]},{"id":"c446aacf.7588f8","type":"template","z":"d9200449.15e9a8","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<html>\n    <head>\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"//fonts.googleapis.com/css?family=Antic\" />\n    </head>\n    <body>\n        <div id=\"chat\">\n        <center>Welcome to #general <br></center>\n        <div>\n        {{{payload}}}\n        </div>\n        </div>\n        <script>\n            window.onload=toBottom;\n\nfunction toBottom()\n{\nwindow.scrollTo(0, document.body.scrollHeight);\n}\n        </script>\n        <style>\n        body {\n            font-family: Antic;\n            font-size: 20px;\n            line-height: 50px;\n            padding: 6px 8px 6px 16px;\n        }\n        ::-webkit-scrollbar {\n            width: 15px;\n        }\n        /* Track */\n        ::-webkit-scrollbar-track {\n            box-shadow: inset 0 0 5px grey; \n            border-radius: 10px;\n        }\n        /* Handle */\n        ::-webkit-scrollbar-thumb {\n            background: darkred; \n            border-radius: 10px;\n        }\n        /* Handle on hover */\n        ::-webkit-scrollbar-thumb:hover {\n            background: #b30000; \n        }\n    </style>\n    </body>\n</html>","x":404.8888874053955,"y":743.5871133804321,"wires":[["fa8d11cb.444b1"]]},{"id":"41daeefe.e0ba6","type":"function","z":"d9200449.15e9a8","name":"","func":"  if (msg.req.body[\"username\"] !== \"\") {\n    msg.payload = msg.req.body[\"username\"]\n  }\n  if (msg.req.body[\"message\"] !== undefined) {\n    context.global.dialog += \n    msg.req.body[\"username\"]+': '+msg.req.body[\"message\"]+\"<BR>\";\n  }\ncontext.global.dialog = context.global.dialog || \"\";\nreturn msg;","outputs":1,"noerr":0,"x":266.3176689147949,"y":683.9524526596069,"wires":[["31b8cdaa.5e2be2"]]},{"id":"4f5fcd96.383724","type":"function","z":"d9200449.15e9a8","name":"","func":"msg.payload = context.global.dialog;\nreturn msg;","outputs":1,"noerr":0,"x":271.88886070251465,"y":743.5870866775513,"wires":[["c446aacf.7588f8"]]},{"id":"7cb712e4.e7b69c","type":"http in","z":"d9200449.15e9a8","name":"","url":"/general","method":"get","upload":false,"swaggerDoc":"","x":128.41644287109375,"y":666.5435762405396,"wires":[["41daeefe.e0ba6"]]},{"id":"d760bfc9.3991e","type":"http response","z":"d9200449.15e9a8","name":"","statusCode":"","headers":{},"x":522.670431137085,"y":683.2260656356812,"wires":[]},{"id":"826b1c53.f75e2","type":"comment","z":"d9200449.15e9a8","name":"channels","info":"","x":593.730167388916,"y":554.3886625766754,"wires":[]},{"id":"1081b88c.03e1a7","type":"comment","z":"d9200449.15e9a8","name":"/random","info":"","x":266.33348846435547,"y":846.2116842269897,"wires":[]},{"id":"63a125e3.33ef6c","type":"http in","z":"d9200449.15e9a8","name":"","url":"/random","method":"post","upload":false,"swaggerDoc":"","x":134.0173568725586,"y":927.375205039978,"wires":[["856b81ed.10de9"]]},{"id":"856b81ed.10de9","type":"function","z":"d9200449.15e9a8","name":"","func":"  if (msg.req.body[\"username\"] !== \"\") {\n    msg.payload = msg.req.body[\"username\"]\n  }\n  if (msg.req.body[\"message\"] !== undefined ) {\n    context.global.dialogr += \n    msg.req.body[\"username\"]+': '+msg.req.body[\"message\"]+\"<BR>\";\n  }\ncontext.global.dialogr = context.global.dialogr || \"\";\nreturn msg;","outputs":1,"noerr":0,"x":269.87849044799805,"y":906.2641019821167,"wires":[["b80998bd.ce9648"]]},{"id":"b80998bd.ce9648","type":"template","z":"d9200449.15e9a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n    <head>\n        <title>MegaChat | #random </title>\n        <!--Load fonts-->\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"//fonts.googleapis.com/css?family=Nobile\" />\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"//fonts.googleapis.com/css?family=Antic\" />\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"//fonts.googleapis.com/css?family=Days+One\" />\n        <link rel=\"icon\" href=\"https://i.imgur.com/NNMscNj.jpg\">\n        <!-- Load an icon library -->\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    </head>\n    <body>\n        <!--top navigation-->\n        <div class=\"topnav\" align=\"right\">\n            <div class=\"chip\">\n                <img src=\"https://banner2.kisspng.com/20180424/ree/kisspng-computer-icons-drawn-ninja-download-avatar-quirky-5adff97cae4ca8.8949619715246278367139.jpg\" alt=\"Person\">\n                {{flow.payload}}\n            </div>\n            <input type=\"text\" placeholder=\"Search..\">\n        </div>\n        <div class=\"sidebar\">\n            <a href=\"/general\" id=\"general\" onclick=\"general()\"><img src=\"https://cdn3.iconfinder.com/data/icons/text-messaging-3/512/6-512.png\" style=\"height:30px; width:30px\"> general</a>\n            <a href=\"/cats\" id=\"cats\" onclick=\"cats()\"><img src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Creative-Tail-Animal-cat.svg/1024px-Creative-Tail-Animal-cat.svg.png\" style=\"height:30px; width:30px\"> cats </a>\n            <a href=\"/random\" id=\"random\" onclick=\"random()\"><img src=\"http://icons.iconarchive.com/icons/graphicloads/food-drink/256/drink-icon.png\" style=\"height:30px; width:30px\"> random</a>\n        </div>\n        <div class=\"main\" scrolling:\"none\">\n            <!-- The sidebar -->\n            <iframe src=\"http://localhost:1880/dialogr\" id=\"iframe_a\" style=\"overflow: hidden\" ></iframe>\n            <form name=\"frm\" action=\"/random\" method=\"post\">\n                <input type=\"text\" id=\"input-msg\" name=\"message\" size=\"50%\" placeholder=\"Message #random\" autofocus><br>\n                <input type=\"hidden\" name=\"username\" value=\"{{flow.payload}}\"><br>\n                <br><button type=\"submit\" id=\"send-msg-btn\">Send</button>\n            </form>\n        </div>\n    </body>\n    <script>\n        function general () {\n            msg.res.redirect(\"/general\");\n        }\n        function cats () {\n            msg.res.redirect(\"/cats\");\n        }\n        function random () {\n            msg.res.redirect(\"/random\");\n        }\n        function logout () {\n            msg.res.redirect(\"/login2\");\n        }\n    </script>\n    <style>\n        input {\n            padding-left: 10px;\n        }\n        input:focus { outline: none; }\n        #iframe_a{\n            height: 70%;\n            width: 120%;\n            text-align:left; \n            margin-left: 220px;\n            font-family: \"Antic\"; \n            font-size: 15px; \n            font-style: normal; \n            font-variant: normal; \n            font-weight: 400; \n            line-height: 5px; \n            border-style: none;       \n        }\n        form {\n            position: fixed;\n            bottom:0;\n        }\n        #input-msg{\n            font-size: 15px;\n            z-index:1;\n            width: 81%;\n            text-align:left; \n            margin-left: 220px;\n            right: 160;\n            height:50px;\n            position: fixed;\n            bottom:5;\n            overflow: hidden;\n            border-style: solid;\n            border-color: lightgrey;\n            border-radius: 10px;\n            border-width: 3px\n        }\n        #input-msg:focus{\n            border-color: #555;\n        }\n        #send-msg-btn{\n            position: relative;\n            width: 10%;\n            text-align:center; \n            margin-left: 20px;\n            height:30px;\n\t        background-color: #E48681;\n\t        border-color: rgba(0,0,0,0.3);\n\t        text-shadow: 0 1px 0 rgba(0,0,0,0.5);\n\t        color: #FFF;\n        }\n\t    #btn:hover {\n\t\t    background-color: #DA4F49;\n\t\t    border-color: rgba(0,0,0,0.5);\n\t    }\n\t    #btn:active {\n\t\t    background-color: #B32C24;\n\t\t    border-color: rgba(0,0,0,0.9);\n\t    } \n        #msg{\n            width: 40%;\n            text-align:left; \n            margin-left: 220px;\n            height: 200px;\n            font-family: \"Antic\"; \n            font-size: 20px; \n            font-style: normal; \n            font-variant: normal; \n            font-weight: 400; \n            line-height: 5px; \n            text-align: center;\n        }\n        h1 { \n            font-family: \"Days One\"; \n            font-size: 85px; \n            font-style: normal; \n            font-variant: normal; \n            font-weight: 700; \n            line-height: 5px;\n            color: darkred;\n            text-align:left; \n            margin-left: 220px;\n        }\n        /* The side navigation menu */\n        .sidebar {\n            height: 100%;\n            width: 220px;\n            position: fixed;\n            z-index: 1;\n            top: 0;\n            left: 0;\n            overflow-x: hidden;\n            padding-top: 16px;\n            background-image: url(\"https://image.freepik.com/free-vector/abstract-geometric-pattern-background_1319-242.jpg\");\n        }\n        /* Sidebar links */\n        .sidebar a {\n            font-family: \"Antic\"; \n            font-size: 25px; \n            font-style: normal; \n            font-variant: normal; \n            font-weight: 400; \n            line-height: 20px;\n            padding: 6px 8px 6px 16px;\n            color: black;\n            display: block;\n        }\n        /* Active/current link */\n        .sidebar a.active {\n            background-color: #4CAF50;\n            color: white;\n        }\n        /* Links on mouse-over */\n        .sidebar a:hover:not(.active) {\n            background-color: #555;\n            color: white;\n        }\n        /* Page content. The value of the margin-left property should match the value of the sidebar's width property */\n        div.content {\n            margin-left: 220px;\n            padding: 1px 16px;\n            height: 1000px;\n        }\n        /* On screens that are less than 700px wide, make the sidebar into a topbar */\n        @media screen and (max-width: 700px) {\n            .sidebar {\n                width: 100%;\n                height: auto;\n                position: relative;\n            }\n            .sidebar a {float: left;}\n            div.content {margin-left: 0;}\n        }\n        /* On screens that are less than 400px, display the bar vertically, instead of horizontally */\n        @media screen and (max-width: 400px) {\n            .sidebar a {\n                text-align: center;\n                float: none;\n            }\n        }\n        /* Add a black background color to the top navigation bar */\n        .topnav {\n            width: 99%;\n            position: fixed;\n            overflow: hidden;\n            z-index: 1;\n            top: 0;\n            background-color: white;\n        }\n        /* Style the links inside the navigation bar */\n        .topnav a {\n            display: flex;\n            color: black;\n            text-align: center;\n        }\n        /* Change the color of links on hover */\n        .topnav a:hover {\n            background-color: #ddd;\n            color: black;\n        }\n        /* Style the \"active\" element to highlight the current page */\n        .topnav a.active {\n            background-color: #2196F3;\n            color: white;\n        }\n        /* Style the search box inside the navigation bar */\n        .topnav input[type=text] {\n            float: right;\n            padding: 6px;\n            border: 1px solid black;\n            margin-top: 8px;\n            margin-right: 5px;\n            font-size: 17px;\n            height: 20px;\n        }\n        /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */\n        @media screen and (max-width: 600px) {\n            .topnav a, .topnav input[type=text] {\n                float: none;\n                display: block;\n                text-align: left;\n                width: 100%;\n                margin: 0;\n                padding: 14px;\n            }\n            .topnav input[type=text] {\n                border: 1px solid #ccc;\n            }\n        }\n        #btn2{\n            float:right;\n            width: 10%;\n            margin-right: 30px;\n            margin-top:8px;\n            height:30px;\n\t        background-color: #E48681;\n\t        border-color: rgba(0,0,0,0.3);\n\t        text-shadow: 0 1px 0 rgba(0,0,0,0.5);\n\t        color: #FFF;\n        }\n\t    #btn2:hover {\n\t\t    background-color: #DA4F49;\n\t\t    border-color: rgba(0,0,0,0.5);\n\t    }\n\t    #btn2:active {\n\t\t    background-color: #B32C24;\n\t\t    border-color: rgba(0,0,0,0.9);\n\t    }\n        .chip {\n            float: left;\n            display: inline-block;\n            padding: 0 25px;\n            height: 50px;\n            font-size: 18px;\n            line-height: 50px;\n            border-radius: 25px;\n            background-color: #f1f1f1;\n            margin-left:220px;\n        }\n        .chip img {\n            float: left;\n            margin: 0 10px 0 -25px;\n            height: 50px;\n            width: 80px;\n            border-radius: 50%;\n        }\n        ::-webkit-scrollbar {\n            width: 15px;\n        }\n        /* Track */\n        ::-webkit-scrollbar-track {\n            box-shadow: inset 0 0 5px grey; \n            border-radius: 10px;\n        }\n        /* Handle */\n        ::-webkit-scrollbar-thumb {\n            background: darkred; \n            border-radius: 10px;\n        }\n        /* Handle on hover */\n        ::-webkit-scrollbar-thumb:hover {\n            background: #b30000; \n        }\n        .main {\n            margin-top: 50px; /* Add a top margin to avoid content overlay */\n            height: 700px;\n            width: 950px;\n        }\n        body {\n            overflow: hidden;\n            position:fixed;\n        }\n    </style>\n</html>","output":"str","x":394.10069274902344,"y":906.3752117156982,"wires":[["9c5cf595.e77af8"]]},{"id":"ee94ada7.fec02","type":"http in","z":"d9200449.15e9a8","name":"","url":"/random","method":"get","upload":false,"swaggerDoc":"","x":132.87843894958496,"y":888.8751087188721,"wires":[["856b81ed.10de9"]]},{"id":"9c5cf595.e77af8","type":"http response","z":"d9200449.15e9a8","name":"","statusCode":"","headers":{},"x":519.5173454284668,"y":904.875205039978,"wires":[]},{"id":"738b2203.12fbbc","type":"http in","z":"d9200449.15e9a8","name":"","url":"/dialogr","method":"get","upload":false,"swaggerDoc":"","x":137.1283950805664,"y":971.4308366775513,"wires":[["84b799e.8ee2968"]]},{"id":"bd97f4a4.c31188","type":"http response","z":"d9200449.15e9a8","name":"","x":526.4618091583252,"y":969.3197326660156,"wires":[]},{"id":"7b17796a.9c7a58","type":"template","z":"d9200449.15e9a8","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<html>\n    <head>\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"//fonts.googleapis.com/css?family=Antic\" />\n    </head>\n    <body>\n        <div id=\"chat\">\n        <center>Welcome to #general <br></center>\n        <div>\n        {{{payload}}}\n        </div>\n        </div>\n        <script>\n            window.onload=toBottom;\n\nfunction toBottom()\n{\nwindow.scrollTo(0, document.body.scrollHeight);\n}\n        </script>\n        <style>\n        body {\n            font-family: Antic;\n            font-size: 20px;\n            line-height: 50px;\n            padding: 6px 8px 6px 16px;\n        }\n        ::-webkit-scrollbar {\n            width: 15px;\n        }\n        /* Track */\n        ::-webkit-scrollbar-track {\n            box-shadow: inset 0 0 5px grey; \n            border-radius: 10px;\n        }\n        /* Handle */\n        ::-webkit-scrollbar-thumb {\n            background: darkred; \n            border-radius: 10px;\n        }\n        /* Handle on hover */\n        ::-webkit-scrollbar-thumb:hover {\n            background: #b30000; \n        }\n    </style>\n    </body>\n</html>","x":400.12840270996094,"y":970.3196382522583,"wires":[["bd97f4a4.c31188"]]},{"id":"84b799e.8ee2968","type":"function","z":"d9200449.15e9a8","name":"","func":"msg.payload = context.global.dialogr;\nreturn msg;","outputs":1,"noerr":0,"x":274.46177101135254,"y":970.3196458816528,"wires":[["7b17796a.9c7a58"]]},{"id":"c6d49f6b.4a77c","type":"http in","z":"d9200449.15e9a8","name":"","url":"/cats","method":"post","upload":false,"swaggerDoc":"","x":723.4798641204834,"y":705.9362392425537,"wires":[["7cb1c164.dfd01"]]},{"id":"7cb1c164.dfd01","type":"function","z":"d9200449.15e9a8","name":"","func":"  if (msg.req.body[\"username\"] !== \"\") {\n    msg.payload = msg.req.body[\"username\"]\n  }\n  if (msg.req.body[\"message\"] !== undefined) {\n    context.global.dialogc += \n    msg.req.body[\"username\"]+': '+msg.req.body[\"message\"]+\"<BR>\";\n  }\ncontext.global.dialogc = context.global.dialogc || \"\";\nreturn msg;","outputs":1,"noerr":0,"x":849.5631847381592,"y":686.9361896514893,"wires":[["f4d156b.40df7a8"]]},{"id":"f4d156b.40df7a8","type":"template","z":"d9200449.15e9a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n    <head>\n        <title>MegaChat | #cats </title>\n        <!--Load fonts-->\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"//fonts.googleapis.com/css?family=Nobile\" />\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"//fonts.googleapis.com/css?family=Antic\" />\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"//fonts.googleapis.com/css?family=Days+One\" />\n        <link rel=\"icon\" href=\"https://i.imgur.com/NNMscNj.jpg\">\n        <!-- Load an icon library -->\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    </head>\n    <body>\n        <!--top navigation-->\n        <div class=\"topnav\" align=\"right\">\n            <div class=\"chip\">\n                <img src=\"https://banner2.kisspng.com/20180424/ree/kisspng-computer-icons-drawn-ninja-download-avatar-quirky-5adff97cae4ca8.8949619715246278367139.jpg\" alt=\"Person\">\n                {{flow.payload}}\n            </div>\n            <input type=\"text\" placeholder=\"Search..\">\n        </div>\n        <div class=\"sidebar\">\n            <a href=\"/general\" id=\"general\" onclick=\"general()\"><img src=\"https://cdn3.iconfinder.com/data/icons/text-messaging-3/512/6-512.png\" style=\"height:30px; width:30px\"> general</a>\n            <a href=\"/cats\" id=\"cats\" onclick=\"cats()\"><img src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Creative-Tail-Animal-cat.svg/1024px-Creative-Tail-Animal-cat.svg.png\" style=\"height:30px; width:30px\"> cats </a>\n            <a href=\"/random\" id=\"random\" onclick=\"random()\"><img src=\"http://icons.iconarchive.com/icons/graphicloads/food-drink/256/drink-icon.png\" style=\"height:30px; width:30px\"> random</a>\n        </div>\n        <div class=\"main\" scrolling:\"none\">\n            <!-- The sidebar -->\n            <iframe src=\"http://localhost:1880/dialogc\" id=\"iframe_a\" style=\"overflow: hidden\" ></iframe>\n            <form name=\"frm\" action=\"/cats\" method=\"post\">\n                <input type=\"text\" id=\"input-msg\" name=\"message\" size=\"50%\" placeholder=\"Message #cats\" autofocus><br>\n                <input type=\"hidden\" name=\"username\" value=\"{{flow.payload}}\"><br>\n                <br><button type=\"submit\" id=\"send-msg-btn\">Send</button>\n            </form>\n        </div>\n    </body>\n    <script>\n        function general () {\n            msg.res.redirect(\"/general\");\n        }\n        function cats () {\n            msg.res.redirect(\"/cats\");\n        }\n        function random () {\n            msg.res.redirect(\"/random\");\n        }\n        function logout () {\n            msg.res.redirect(\"/login2\");\n        }\n    </script>\n    <style>\n        input {\n            padding-left: 10px;\n        }\n        input:focus { outline: none; }\n        #iframe_a{\n            height: 70%;\n            width: 120%;\n            text-align:left; \n            margin-left: 220px;\n            font-family: \"Antic\"; \n            font-size: 15px; \n            font-style: normal; \n            font-variant: normal; \n            font-weight: 400; \n            line-height: 5px; \n            border-style: none;       \n        }\n        form {\n            position: fixed;\n            bottom:0;\n        }\n        #input-msg{\n            font-size: 15px;\n            z-index:1;\n            width: 81%;\n            text-align:left; \n            margin-left: 220px;\n            right: 160;\n            height:50px;\n            position: fixed;\n            bottom:5;\n            overflow: hidden;\n            border-style: solid;\n            border-color: lightgrey;\n            border-radius: 10px;\n            border-width: 3px\n        }\n        #input-msg:focus{\n            border-color: #555;\n        }\n        #send-msg-btn{\n            position: relative;\n            width: 10%;\n            text-align:center; \n            margin-left: 20px;\n            height:30px;\n\t        background-color: #E48681;\n\t        border-color: rgba(0,0,0,0.3);\n\t        text-shadow: 0 1px 0 rgba(0,0,0,0.5);\n\t        color: #FFF;\n        }\n\t    #btn:hover {\n\t\t    background-color: #DA4F49;\n\t\t    border-color: rgba(0,0,0,0.5);\n\t    }\n\t    #btn:active {\n\t\t    background-color: #B32C24;\n\t\t    border-color: rgba(0,0,0,0.9);\n\t    } \n        #msg{\n            width: 40%;\n            text-align:left; \n            margin-left: 220px;\n            height: 200px;\n            font-family: \"Antic\"; \n            font-size: 20px; \n            font-style: normal; \n            font-variant: normal; \n            font-weight: 400; \n            line-height: 5px; \n            text-align: center;\n        }\n        h1 { \n            font-family: \"Days One\"; \n            font-size: 85px; \n            font-style: normal; \n            font-variant: normal; \n            font-weight: 700; \n            line-height: 5px;\n            color: darkred;\n            text-align:left; \n            margin-left: 220px;\n        }\n        /* The side navigation menu */\n        .sidebar {\n            height: 100%;\n            width: 220px;\n            position: fixed;\n            z-index: 1;\n            top: 0;\n            left: 0;\n            overflow-x: hidden;\n            padding-top: 16px;\n            background-image: url(\"https://image.freepik.com/free-vector/abstract-geometric-pattern-background_1319-242.jpg\");\n        }\n        /* Sidebar links */\n        .sidebar a {\n            font-family: \"Antic\"; \n            font-size: 25px; \n            font-style: normal; \n            font-variant: normal; \n            font-weight: 400; \n            line-height: 20px;\n            padding: 6px 8px 6px 16px;\n            color: black;\n            display: block;\n        }\n        /* Active/current link */\n        .sidebar a.active {\n            background-color: #4CAF50;\n            color: white;\n        }\n        /* Links on mouse-over */\n        .sidebar a:hover:not(.active) {\n            background-color: #555;\n            color: white;\n        }\n        /* Page content. The value of the margin-left property should match the value of the sidebar's width property */\n        div.content {\n            margin-left: 220px;\n            padding: 1px 16px;\n            height: 1000px;\n        }\n        /* On screens that are less than 700px wide, make the sidebar into a topbar */\n        @media screen and (max-width: 700px) {\n            .sidebar {\n                width: 100%;\n                height: auto;\n                position: relative;\n            }\n            .sidebar a {float: left;}\n            div.content {margin-left: 0;}\n        }\n        /* On screens that are less than 400px, display the bar vertically, instead of horizontally */\n        @media screen and (max-width: 400px) {\n            .sidebar a {\n                text-align: center;\n                float: none;\n            }\n        }\n        /* Add a black background color to the top navigation bar */\n        .topnav {\n            width: 99%;\n            position: fixed;\n            overflow: hidden;\n            z-index: 1;\n            top: 0;\n            background-color: white;\n        }\n        /* Style the links inside the navigation bar */\n        .topnav a {\n            display: flex;\n            color: black;\n            text-align: center;\n        }\n        /* Change the color of links on hover */\n        .topnav a:hover {\n            background-color: #ddd;\n            color: black;\n        }\n        /* Style the \"active\" element to highlight the current page */\n        .topnav a.active {\n            background-color: #2196F3;\n            color: white;\n        }\n        /* Style the search box inside the navigation bar */\n        .topnav input[type=text] {\n            float: right;\n            padding: 6px;\n            border: 1px solid black;\n            margin-top: 8px;\n            margin-right: 5px;\n            font-size: 17px;\n            height: 20px;\n        }\n        /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */\n        @media screen and (max-width: 600px) {\n            .topnav a, .topnav input[type=text] {\n                float: none;\n                display: block;\n                text-align: left;\n                width: 100%;\n                margin: 0;\n                padding: 14px;\n            }\n            .topnav input[type=text] {\n                border: 1px solid #ccc;\n            }\n        }\n        #btn2{\n            float:right;\n            width: 10%;\n            margin-right: 30px;\n            margin-top:8px;\n            height:30px;\n\t        background-color: #E48681;\n\t        border-color: rgba(0,0,0,0.3);\n\t        text-shadow: 0 1px 0 rgba(0,0,0,0.5);\n\t        color: #FFF;\n        }\n\t    #btn2:hover {\n\t\t    background-color: #DA4F49;\n\t\t    border-color: rgba(0,0,0,0.5);\n\t    }\n\t    #btn2:active {\n\t\t    background-color: #B32C24;\n\t\t    border-color: rgba(0,0,0,0.9);\n\t    }\n        .chip {\n            float: left;\n            display: inline-block;\n            padding: 0 25px;\n            height: 50px;\n            font-size: 18px;\n            line-height: 50px;\n            border-radius: 25px;\n            background-color: #f1f1f1;\n            margin-left:220px;\n        }\n        .chip img {\n            float: left;\n            margin: 0 10px 0 -25px;\n            height: 50px;\n            width: 80px;\n            border-radius: 50%;\n        }\n        ::-webkit-scrollbar {\n            width: 15px;\n        }\n        /* Track */\n        ::-webkit-scrollbar-track {\n            box-shadow: inset 0 0 5px grey; \n            border-radius: 10px;\n        }\n        /* Handle */\n        ::-webkit-scrollbar-thumb {\n            background: darkred; \n            border-radius: 10px;\n        }\n        /* Handle on hover */\n        ::-webkit-scrollbar-thumb:hover {\n            background: #b30000; \n        }\n        .main {\n            margin-top: 50px; /* Add a top margin to avoid content overlay */\n            height: 700px;\n            width: 950px;\n        }\n        body {\n            overflow: hidden;\n            position:fixed;\n        }\n    </style>\n</html>","output":"str","x":973.78542137146,"y":687.936185836792,"wires":[["b1f7848a.8225e8"]]},{"id":"fba0e510.bc70d8","type":"http in","z":"d9200449.15e9a8","name":"","url":"/cats","method":"get","upload":false,"swaggerDoc":"","x":722.0076503753662,"y":669.5472803115845,"wires":[["7cb1c164.dfd01"]]},{"id":"b1f7848a.8225e8","type":"http response","z":"d9200449.15e9a8","name":"","statusCode":"","headers":{},"x":1099.4244899749756,"y":688.4361457824707,"wires":[]},{"id":"cbd99503.51c998","type":"http in","z":"d9200449.15e9a8","name":"","url":"/dialogc","method":"get","upload":false,"swaggerDoc":"","x":715.03542137146,"y":745.547292470932,"wires":[["1c81a001.385e5"]]},{"id":"76152a18.fff834","type":"http response","z":"d9200449.15e9a8","name":"","x":1107.9245223999023,"y":746.7694911956787,"wires":[]},{"id":"6abeebaf.7955a4","type":"template","z":"d9200449.15e9a8","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<html>\n    <head>\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"//fonts.googleapis.com/css?family=Antic\" />\n    </head>\n    <body>\n        <div id=\"chat\">\n        <center>Welcome to #general <br></center>\n        <div>\n        {{{payload}}}\n        </div>\n        </div>\n        <script>\n            window.onload=toBottom;\n\nfunction toBottom()\n{\nwindow.scrollTo(0, document.body.scrollHeight);\n}\n        </script>\n        <style>\n        body {\n            font-family: Antic;\n            font-size: 20px;\n            line-height: 50px;\n            padding: 6px 8px 6px 16px;\n        }\n        ::-webkit-scrollbar {\n            width: 15px;\n        }\n        /* Track */\n        ::-webkit-scrollbar-track {\n            box-shadow: inset 0 0 5px grey; \n            border-radius: 10px;\n        }\n        /* Handle */\n        ::-webkit-scrollbar-thumb {\n            background: darkred; \n            border-radius: 10px;\n        }\n        /* Handle on hover */\n        ::-webkit-scrollbar-thumb:hover {\n            background: #b30000; \n        }\n    </style>\n    </body>\n</html>","x":981.0353965759277,"y":746.5472927093506,"wires":[["76152a18.fff834"]]},{"id":"1c81a001.385e5","type":"function","z":"d9200449.15e9a8","name":"","func":"msg.payload = context.global.dialogc;\nreturn msg;","outputs":1,"noerr":0,"x":852.0354022979736,"y":746.5473327636719,"wires":[["6abeebaf.7955a4"]]},{"id":"33cb0c8c.b52d64","type":"comment","z":"d9200449.15e9a8","name":"/general","info":"","x":259.35069274902344,"y":617.1530408859253,"wires":[]},{"id":"d6b441f4.27416","type":"comment","z":"d9200449.15e9a8","name":"/cats","info":"","x":868.922155380249,"y":619.5815963745117,"wires":[]},{"id":"31b8cdaa.5e2be2","type":"template","z":"d9200449.15e9a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n    <head>\n        <title>MegaChat | #general </title>\n        <!--Load fonts-->\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"//fonts.googleapis.com/css?family=Nobile\" />\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"//fonts.googleapis.com/css?family=Antic\" />\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"//fonts.googleapis.com/css?family=Days+One\" />\n        <link rel=\"icon\" href=\"https://i.imgur.com/NNMscNj.jpg\">\n        <!-- Load an icon library -->\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    </head>\n    <body>\n        <!--top navigation-->\n        <div class=\"topnav\" align=\"right\">\n            <div class=\"chip\">\n                <img src=\"https://banner2.kisspng.com/20180424/ree/kisspng-computer-icons-drawn-ninja-download-avatar-quirky-5adff97cae4ca8.8949619715246278367139.jpg\" alt=\"Person\">\n                {{flow.payload}}\n            </div>\n            <input type=\"text\" placeholder=\"Search..\">\n        </div>\n        <div class=\"sidebar\">\n            <a href=\"/general\" id=\"general\" onclick=\"general()\"><img src=\"https://cdn3.iconfinder.com/data/icons/text-messaging-3/512/6-512.png\" style=\"height:30px; width:30px\"> general</a>\n            <a href=\"/cats\" id=\"cats\" onclick=\"cats()\"><img src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Creative-Tail-Animal-cat.svg/1024px-Creative-Tail-Animal-cat.svg.png\" style=\"height:30px; width:30px\"> cats </a>\n            <a href=\"/random\" id=\"random\" onclick=\"random()\"><img src=\"http://icons.iconarchive.com/icons/graphicloads/food-drink/256/drink-icon.png\" style=\"height:30px; width:30px\"> random</a>\n        </div>\n        <div class=\"main\" scrolling:\"none\">\n            <!-- The sidebar -->\n            <iframe src=\"http://localhost:1880/dialog\" id=\"iframe_a\" style=\"overflow: hidden\" ></iframe>\n            <form name=\"frm\" action=\"/general\" method=\"post\">\n                <input type=\"text\" id=\"input-msg\" name=\"message\" size=\"50%\" placeholder=\"Message #general\" autofocus><br>\n                <input type=\"hidden\" name=\"username\" value=\"{{flow.payload}}\"><br>\n                <br><button type=\"submit\" id=\"send-msg-btn\">Send</button>\n            </form>\n        </div>\n    </body>\n    <script>\n        function general () {\n            msg.res.redirect(\"/general\");\n        }\n        function cats () {\n            msg.res.redirect(\"/cats\");\n        }\n        function random () {\n            msg.res.redirect(\"/random\");\n        }\n        function logout () {\n            msg.res.redirect(\"/login2\");\n        }\n    </script>\n    <style>\n        input {\n            padding-left: 10px;\n        }\n        input:focus { outline: none; }\n        #iframe_a{\n            height: 70%;\n            width: 120%;\n            text-align:left; \n            margin-left: 220px;\n            font-family: \"Antic\"; \n            font-size: 25px; \n            font-style: normal; \n            font-variant: normal; \n            font-weight: 400; \n            line-height: 5px; \n            border-style: none;       \n        }\n        form {\n            position: fixed;\n            bottom:0;\n        }\n        #input-msg{\n            font-size: 15px;\n            z-index:1;\n            width: 81%;\n            text-align:left; \n            margin-left: 220px;\n            right: 160;\n            height:50px;\n            position: fixed;\n            bottom:5;\n            overflow: hidden;\n            border-style: solid;\n            border-color: lightgrey;\n            border-radius: 10px;\n            border-width: 3px\n        }\n        #input-msg:focus{\n            border-color: #555;\n        }\n        #send-msg-btn{\n            position: relative;\n            width: 10%;\n            text-align:center; \n            margin-left: 20px;\n            height:30px;\n\t        background-color: #E48681;\n\t        border-color: rgba(0,0,0,0.3);\n\t        text-shadow: 0 1px 0 rgba(0,0,0,0.5);\n\t        color: #FFF;\n        }\n\t    #btn:hover {\n\t\t    background-color: #DA4F49;\n\t\t    border-color: rgba(0,0,0,0.5);\n\t    }\n\t    #btn:active {\n\t\t    background-color: #B32C24;\n\t\t    border-color: rgba(0,0,0,0.9);\n\t    } \n        #msg{\n            width: 40%;\n            text-align:left; \n            margin-left: 220px;\n            height: 200px;\n            font-family: \"Antic\"; \n            font-size: 20px; \n            font-style: normal; \n            font-variant: normal; \n            font-weight: 400; \n            line-height: 5px; \n            text-align: center;\n        }\n        h1 { \n            font-family: \"Days One\"; \n            font-size: 85px; \n            font-style: normal; \n            font-variant: normal; \n            font-weight: 700; \n            line-height: 5px;\n            color: darkred;\n            text-align:left; \n            margin-left: 220px;\n        }\n        /* The side navigation menu */\n        .sidebar {\n            height: 100%;\n            width: 220px;\n            position: fixed;\n            z-index: 1;\n            top: 0;\n            left: 0;\n            overflow-x: hidden;\n            padding-top: 16px;\n            background-image: url(\"https://image.freepik.com/free-vector/abstract-geometric-pattern-background_1319-242.jpg\");\n        }\n        /* Sidebar links */\n        .sidebar a {\n            font-family: \"Antic\"; \n            font-size: 25px; \n            font-style: normal; \n            font-variant: normal; \n            font-weight: 400; \n            line-height: 20px;\n            padding: 6px 8px 6px 16px;\n            color: black;\n            display: block;\n        }\n        /* Active/current link */\n        .sidebar a.active {\n            background-color: #4CAF50;\n            color: white;\n        }\n        /* Links on mouse-over */\n        .sidebar a:hover:not(.active) {\n            background-color: #555;\n            color: white;\n        }\n        /* Page content. The value of the margin-left property should match the value of the sidebar's width property */\n        div.content {\n            margin-left: 220px;\n            padding: 1px 16px;\n            height: 1000px;\n        }\n        /* On screens that are less than 700px wide, make the sidebar into a topbar */\n        @media screen and (max-width: 700px) {\n            .sidebar {\n                width: 100%;\n                height: auto;\n                position: relative;\n            }\n            .sidebar a {float: left;}\n            div.content {margin-left: 0;}\n        }\n        /* On screens that are less than 400px, display the bar vertically, instead of horizontally */\n        @media screen and (max-width: 400px) {\n            .sidebar a {\n                text-align: center;\n                float: none;\n            }\n        }\n        /* Add a black background color to the top navigation bar */\n        .topnav {\n            width: 99%;\n            position: fixed;\n            overflow: hidden;\n            z-index: 1;\n            top: 0;\n            background-color: white;\n        }\n        /* Style the links inside the navigation bar */\n        .topnav a {\n            display: flex;\n            color: black;\n            text-align: center;\n        }\n        /* Change the color of links on hover */\n        .topnav a:hover {\n            background-color: #ddd;\n            color: black;\n        }\n        /* Style the \"active\" element to highlight the current page */\n        .topnav a.active {\n            background-color: #2196F3;\n            color: white;\n        }\n        /* Style the search box inside the navigation bar */\n        .topnav input[type=text] {\n            float: right;\n            padding: 6px;\n            border: 1px solid black;\n            margin-top: 8px;\n            margin-right: 5px;\n            font-size: 17px;\n            height: 20px;\n        }\n        /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */\n        @media screen and (max-width: 600px) {\n            .topnav a, .topnav input[type=text] {\n                float: none;\n                display: block;\n                text-align: left;\n                width: 100%;\n                margin: 0;\n                padding: 14px;\n            }\n            .topnav input[type=text] {\n                border: 1px solid #ccc;\n            }\n        }\n        #btn2{\n            float:right;\n            width: 10%;\n            margin-right: 30px;\n            margin-top:8px;\n            height:30px;\n\t        background-color: #E48681;\n\t        border-color: rgba(0,0,0,0.3);\n\t        text-shadow: 0 1px 0 rgba(0,0,0,0.5);\n\t        color: #FFF;\n        }\n\t    #btn2:hover {\n\t\t    background-color: #DA4F49;\n\t\t    border-color: rgba(0,0,0,0.5);\n\t    }\n\t    #btn2:active {\n\t\t    background-color: #B32C24;\n\t\t    border-color: rgba(0,0,0,0.9);\n\t    }\n        .chip {\n            float: left;\n            display: inline-block;\n            padding: 0 25px;\n            height: 50px;\n            font-size: 18px;\n            line-height: 50px;\n            border-radius: 25px;\n            background-color: #f1f1f1;\n            margin-left:220px;\n        }\n        .chip img {\n            float: left;\n            margin: 0 10px 0 -25px;\n            height: 50px;\n            width: 80px;\n            border-radius: 50%;\n        }\n        ::-webkit-scrollbar {\n            width: 15px;\n        }\n        /* Track */\n        ::-webkit-scrollbar-track {\n            box-shadow: inset 0 0 5px grey; \n            border-radius: 10px;\n        }\n        /* Handle */\n        ::-webkit-scrollbar-thumb {\n            background: darkred; \n            border-radius: 10px;\n        }\n        /* Handle on hover */\n        ::-webkit-scrollbar-thumb:hover {\n            background: #b30000; \n        }\n        .main {\n            margin-top: 50px; /* Add a top margin to avoid content overlay */\n            height: 700px;\n            width: 950px;\n        }\n        body {\n            overflow: hidden;\n            position:fixed;\n        }\n    </style>\n</html>","output":"str","x":393.7301445007324,"y":682.9045057296753,"wires":[["d760bfc9.3991e"]]}]